<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{{title}}}</title>
		{{{& _envVar}}}
	</head>
	<body>
		hello <span id="world"></span>
		<script type="text/javascript">
			document.getElementById('world').innerHTML = _envVar.world
		</script>
		<a href="views/baby.html" id="next">next</a>
	</body>
</html>